@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

:root {
  --color: #ddd;
  --main-color: #0891b2;
  --pale-main: #cffafe
}

* {
  box-sizing: border-box;
}

html {
  font-size: 15px;
  font-family: 'PT Sans', sans-serif;
  font-weight: 500;
}

body {
  color: #ddd;
  padding: 0;
  margin: 0;
  min-height: 100vh;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
}

.header {
  background-color: #fff;
  grid-column: 2 / -1;
  height: 100px;
}

/* Sidebar */
.sidebar {
  background-color: var(--main-color);
  padding: 12px 40px 12px 24px;
  grid-column: 1 / 2;
  grid-row: 1 / -1;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  gap: 40px;
}

.brand {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.brand h1 {
  padding: 0;
  margin: 0;
  font-size: 3rem;
}

nav {
  display: grid;
  grid-template-rows: repeat(2, max-content);
  gap: 50px;
  font-size: 1.6rem;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-auto-rows: max-content;
  gap: 12px;
}

/* Main */
.main-content {
  background-color: var(--pale-main);
  grid-column: 2 / -1;
  grid-row: 2 / -1;
}